DRILLER_LOG_LEVEL=INFO
DRILLER_NEO4J_LOG_LEVEL=WARNING

# PostgreSQL Configuration
POSTGRES_USER=neorepro
POSTGRES_PASSWORD=neorepro123
POSTGRES_DB=neorepro
DATABASE_URL=postgresql://neorepro:neorepro123@postgres:5432/neorepro

# Neo4j Login Credentials
NEO4J_HOST=neo4j
NEO4J_PORT=7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=neo4j123
NEO4J_DEFAULT_BATCH_SIZE=1

# Backend URL for Celery signal handlers to report job status
BACKEND_URL=http://backend:8000

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_BROKER_DB=1

# Celery Configuration
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/0
TASK_SOFT_TIME_LIMIT=14400
TASK_TIME_LIMIT=14700
CELERY_VISIBILITY_TIMEOUT=21600

# Flower Monitoring
FLOWER_PORT=5555

# Backend and Frontend Ports
BACKEND_PORT=8000
FRONTEND_PORT=5173

# The path inside driller-worker where repositories should be clone to.
REPO_CLONE_LOCATION=/app/repositories
